.avatar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.userItem {
  display: flex;
  gap: 12px;
}

.userFollowers {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.avatar p {
  margin-bottom: 0;
}

.avatarImage {
  border-radius: 50%;
  overflow: hidden;
  height: 200px;
  width: 200px;
}

.userName p {
  color: #2962e3;
}
